<h1>Home Page</h1>

<h3>Instructions</h3>

<p>In address bar enter localhost:4567/anagram/*/*</p>
<p>Enter a word for each star checks for anagrams</p>

<p>In address bar enter localhost:4567/isogram/*</p>
<p>Enter a word for the star checks for Isogram</p>

<p>In address bar enter localhost:4567/palindrome/*</p>
<p>Enter a word for the star checks for a Palindrome</p>

<p>In address bar enter localhost:4567/equal/*/*</p>
<p>Enter a word for each star checks if both words are equal</p>
